</main>
<footer>
    <div class="quick-menu-wrapper">
        <div>
                <a class="quick-menu-topic" href="/aboutJs">Js</a>
                <a class="quick-menu-topic">|</a>
                <a class="quick-menu-topic" href="/nodeJs">NodeJs</a>
                <a class="quick-menu-topic">|</a>
                <a class="quick-menu-topic" href="/restAPI">REST API</a>
                <a class="quick-menu-topic">|</a>
                <a class="quick-menu-topic" href="/exportAndImport">Export / Import</a>
                <a class="quick-menu-topic">|</a>
                <a class="quick-menu-topic" href="/clientAndServerRendering">CSR vs. SSR</a>
                <a class="quick-menu-topic">|</a>
                <a class="quick-menu-topic" href="/adminPanel">+</a>
        </div>
        <div>
            <p id="copyright-year">$FOOTER_YEAR</p>
        </div>
    </div>
</footer>

$INDEX_CONTENT_LINK
</body>
</html>
