</main>
<footer>
    <div class="quick-menu-wrapper">
        <p class="quick-menu-title">Quick Topic Menu</p>
        <div>
                <a class="quick-menu-topic" href="/aboutJs">About Js</a>
                <a class="quick-menu-topic">|</a>
                <a class="quick-menu-topic" href="/nodeJs">NodeJs</a>
                <a class="quick-menu-topic">|</a>
                <a class="quick-menu-topic" href="/restAPI">REST API</a>
                <a class="quick-menu-topic">|</a>
                <a class="quick-menu-topic" href="/exportAndImport">Export / Import</a>
                <a class="quick-menu-topic">|</a>
                <a class="quick-menu-topic" href="/clientAndServerRendering">CSR vs. SSR</a>
        </div>
        <div>
            <p id="copyright-year">$FOOTER_YEAR</p>
        </div>
    </div>
</footer>

$INDEX_CONTENT_LINK
</body>
</html>
