* {
    padding: 0;
    margin: 0;
    font-family: Raleway, sans-serif;
    color: rgb(62, 62, 62);
  }
  
  html,body {
    height: 100%;
    width: 100%;
    background-color: #ffffffee;
    display: flex;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
  }
  
  .index-menu-wrapper {
    position: fixed;
    z-index: 1;
    background: #ffffffee;
    border-top: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    width: 17.1875em;
    height: 100%;
  }

  .index-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .button {
    position: relative;
    padding: 0.6em 2em;
    border-radius: 0.5em;
    color: #fff;
    background-color: #e7793e;
    font-size: 1em;
    border: solid white 0.0625em;
    cursor: pointer;
    margin: 1em;
    width: 14.84375em;
  }
  
  .button:hover {
    padding: 0.6em 2em;
    border-radius: 0.5em;
    color: #e7793e;
    background-color: #ffffff;
    box-shadow: 0px 0px 1.25em #9b644b;
    font-size: 1em;
    border: solid #e7793e 0.0625em;
    cursor: pointer;
    margin: 1em;
  }
  
  .index-topic-wrapper {
    padding-left: 1.875em;
    padding-top: 1.25em;
    display: flex;
    flex-direction: column;
    gap: 0.625em;
  }
  
  .index-topic {
    font-weight: 700;
  }

  .index-topic:hover {
    color: #e7793e;
  }

  .index {
    font-weight: 700;
    font-size: 1.7em;
    background: transparent;
    border: none;
  }
  
  .documentation-section-wrapper {
    margin-left: 17.1875em;
    border: solid rgb(66, 66, 66) 0.125em;
    border-top: none;
    border-bottom: none;
    border-right: none;
    height: fit-content;
    padding-left: 3.125em;
    padding-top: 1.875em;
    padding-bottom: 15.625em;
    width: 75em;
  }
  
  .title {
    font-size: 9.375em;
    font-weight: 600;
  }

  hr {
    max-width: 77vw;
  }
  
  .heading1 {
    font-size: 2.5em;
    font-weight: 500;
    padding-bottom: 1.25em;
  }
  
  .heading2 {
    font-size: 1.875em;
    font-weight: 500;
    padding-top: 1em;
  }
  
  .paragraph-wrapper {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 90em;
    padding-top: 1.25em;
  }
  
  .paragraph {
    font-size: 1.375em;
    font-weight: 100;
  }
  
  .code-snippet-wrapper {
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-top: 1.875em;
    padding-bottom: 0.625em;
  }
  
  .code-snippet-tab {
    background-color: #2a2a3f;
    border-radius: 0.5em;
    border: solid #e7793e 0.0625em;
    box-shadow: 0px 0px 0.625em #9a8074;
    width: 50em;
    margin: auto;
    min-width: 37.5em;
    padding-top: 1.125em;
  }
  
  code {
    color: white;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
  }
  
  table {
    border-spacing: 0;
    padding-bottom: 1.875em;
  }
  
  .table-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 1.875em;
  }
  
  table th {
    border: solid white 0.0625em;
    vertical-align: middle;
    padding: 0.625em;
    border: solid #444444 0.0625em;
  }
  
  td {
    border: solid #444444 0.0625em;
    padding: 0.625em;
    width: 12.5em;
  }

@media screen and (max-width: 1523px) {
  .heading-wrapper {
    max-width: 70em;
  }

  hr {
    max-width: 75vw;
  }

  .paragraph-wrapper {
    max-width: 70vw;
  }

}
  

@media screen and (max-width: 1320px) {

  hr {
    max-width: 93vw;
  }

    .documentation-section-wrapper {
        margin-left: 0;
        padding-top: 165px;
        background-color: #ffffff;
        border-left: none;
    }
    
    .index-menu-wrapper {
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
        position: fixed;

        z-index: 1;
        background: #ffffffee;
        border-top: none;
        height: 7em; 
        width: 100%;
        border-bottom: solid #2a2a3f 2px;
    }

    .index-topic-wrapper {
      padding-top: 2.5em;
      padding-left: 0;
      position: relative;
      display: inline-block;
      max-height: 0;
    }

    .index-content {
      visibility: hidden;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }

    .index-content a {
      display: block;
    }

    .index-topic-wrapper:hover .index-content {
      visibility: visible;
      cursor: pointer;
    }

    .button-wrapper {
      max-height: 0;
      padding-top: 1.5em;
    }

    .heading-wrapper {
      max-width: 90vw;
    }

    .paragraph-wrapper {
      max-width: 90vw;
    }
  }

  @media screen and (max-width: 981px) {
    .documentation-section-wrapper {
        margin-left: 0;
        padding-top: 10.3125em;
        background-color: #ffffff;
        border-left: none;
      }
      .index-menu-wrapper {
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        position: fixed;
        z-index: 1;
        background: #ffffffee;
        border-top: none;
        height: 7em;
        width: 100%;
        border-bottom: solid #2a2a3f 0.125em;
      }

    .documentation-section-wrapper {
        padding-left: 1.13em;
    }

    .paragraph-wrapper {
      max-width: 90vw;
    }
    .heading1 {
      max-width: 90vw;
    }

    .button {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 770px) {
    .paragraph-wrapper {
      max-width: 90vw;
    }
    .heading1 {
      max-width: 90vw;
    }
  }

  @media screen and (max-width: 615px) {
    .index-menu-wrapper {
      height: 7em;
    }
    .paragraph-wrapper {
      max-width: 90vw;
    }
    .heading1 {
      max-width: 90vw;
    }
  }