@media screen and (max-width: 1523px) {
  .documentation-section-wrapper{
    max-width: 78vw;
    padding-left: 1em;
  }

  .heading-wrapper {
    max-width: 75vw;
  }

  .title-wrapper {
    max-width: 75vw;
  }

  hr {
    max-width: 75vw;
  }

  .paragraph-wrapper {  
    max-width: 70vw;
  }
}

@media screen and (max-width: 1320px) {
  hr {
    max-width: 93vw;
  }

    .documentation-section-wrapper {
        margin-left: 0;
        padding-top: 165px;
        border-left: none;
        padding-left: 5em;
        width: 90vw;
    }
    
    .index-menu-wrapper {
        display: flex;
        flex-direction:row;
        justify-content:space-evenly;
        position: fixed;

        z-index: 1;
        border-top: none;
        height: 7em; 
        width: 100%;
        border-bottom: solid #2a2a3f 2px;
    }

    .index-topic-wrapper {
      padding-top: 2.5em;
      padding-left: 0;
      position: relative;
      display: inline-block;
      max-height: 0;
    }

    .index-content {
      visibility: hidden;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      padding: 12px 16px;
      z-index: 1;
    }

    .index-content a {
      display: block;
    }

    .index-topic-wrapper:hover .index-content {
      visibility: visible;
      cursor: pointer;
      background-color: #f7f7f7;
    }

    .button-wrapper {
      max-height: 0;
      padding-top: 1.5em;
    }

    .heading-wrapper {
      max-width: 90vw;
    }

    .paragraph-wrapper {
      max-width: 90vw;
    }
  }

@media screen and (max-width:660px) {
  .documentation-section-wrapper {
    padding-left: 2em;
  }

  code {
    font-size: small;
  }
}