* {
    padding: 0;
    margin: 0;
	font-family: Raleway, sans-serif;
    color: rgb(62, 62, 62);
}

html,body {
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
    background-repeat: round;
    background-size: cover;	
}

#administrator-panel-wrapper {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}

.administrator-panel-button {
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color:#e7793e;
    font-size:1.1em;
    border: solid white 1px;
    cursor:pointer;
    margin:1em;
}

.administrator-panel-button:hover {
    padding:0.6em 2em;
    border-radius: 8px;
    color:#e7793e;
    background-color:#ffffff;
    box-shadow: 0px 0px 20px #9b644b;
    font-size:1.1em;
    border: solid #e7793e 1px;
    cursor:pointer;
    margin:1em;
}

#topics-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: auto;
    min-height: 70% !important;
    padding-bottom: 100px;
}

.topic {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 200px;
    border: solid #ee9229 1px;
    border-radius: 25px;
    background-color: #2a2a3f;
}

.topic:hover {
    box-shadow: 0px 0px 10px #9b644b;
    cursor: pointer;
    transform: scale(0.97);
}

#topic-info {
    position: relative;
    top: 30px;
    left: 25px;
    max-height: 10em;
    max-width: 19em;
    color: #f7f7f7;
}

.title-topic-info {
    color: #f7f7f7;
}

textarea, textarea:hover {
    color: #f7f7f7;
    resize: none;
    width: 300px;
    border-style: none; 
    border-color: Transparent; 
    overflow: auto; 
    font-size: 18px;
    cursor: pointer;
    background-color: #2a2a3f;
}

.topic-info {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 300px;
}

#topic-info-title {
    padding-bottom: 3px;
}
.copyright-year-wrapper {
    display: flex;
    justify-content: center;
    color: #2a2a3f;
    padding-bottom: 3rem;
}